{% extends "__base.html" %}
{% load pstaxitags %}
{% block title %}PS-Taxi - аренда авто{% endblock %}

{% block content %}

{% with "Бронирование автомобиля "|add:auto.brand.title as header %}
    {% include "inc/_wrapper.html" %}
{% endwith %}

<!-- START CAR DETAIL AREA -->
<div class="padding-bottom-90px">
    <div class="section-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content-nav">
                        <ul>
                            <li><a href="#parameters" class="text-decoration-none active">Параметры</a></li>
                            <li><a href="#description" class="text-decoration-none">Описание</a></li>
                            <li><a href="#reviews" class="text-decoration-none">Отзывы</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 order-lg-2">
                <div class="card shadow-lg mt-4">
                    <div class="card-header text-center">
                        <strong>БРОНИРОВАНИЕ</strong>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'motorpool:auto_rent' %}" method="post">
                            {% csrf_token %}
                            {{ rent_form }}
                            <button type="submit" class="btn btn-success mt-4">Забронировать</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 order-lg-1">
                <div id="parameters" class="py-4 mt-4">
                    <h3 class="mb-3">{{ auto.brand.title }}</h3>
                    <div class="d-flex align-items-center">
                        <p>{{ auto.get_auto_class_display }}</p>
                        <p class="mx-2">
                            <span class="badge bg-warning text-white font-size-16">{{ object.rate|floatformat:1 }}</span>
                            <span>({{ object.review_count }} {% plural object.review_count "отзыв" "отзыва" "отзывов" %})</span>
                        </p>
                    </div>
                </div>
                <ul>
                    {% for option in object.options.all %}
                    <li>{{ option }}</li>
                    {% endfor %}
                </ul>
                <hr>
                <div id="description" class="py-4 mt-4">
                    <h3 class="mb-3">Описание</h3>
                    <p>{{ object.description }}</p>
                </div>
                <hr>
                <div id="reviews" class="py-4 mt-4">
                    <h3 class="mb-3">Оценка</h3>
                    <div class="col-lg-4">
                        <div class="review-summary">
                            <h2>{{ object.rate|floatformat:1|default:0 }}<span>/5</span></h2>
                        </div>
                    </div>

                </div>
                <div class="py-4 mt-4">
                    <h3>Отзывы</h3>
                    {% for review in reviews %}
                    <h4 class="mt-3">{{ review.user }}, {{ review.rate }}</h4>
                    <p class="text-muted">{{ review.created }}</p>
                    <p>{{ review.text }}</p>
                    {% endfor %}
                </div>
                <div class="py-4 mt-4">
                    <div class="card">
                        <div class="card-header">
                            Написать отзыв
                        </div>
                        <div class="card-body">
                            <form action="{% url 'motorpool:auto_send_review' %}" method="post">
                                {% csrf_token %}
                                {{ review_form }}
                                <button type="submit" class="btn btn-primary mt-3">Отправить отзыв</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END CAR DETAIL -->

{% include "inc/_cta.html" %}

{% endblock %}
