{% extends "__base.html" %}
{% load static %}
{% block title %}PS-Taxi - сервис бронирования автомобилей{% endblock %}

{% block content %}

<!-- START WRAPPER -->
<div class="hero-box hero-bg-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="text-white">Найди лучшую машину</h1>
                <h2 class="text-white">Путешествуй с удовольствием</h2>
                <p class="text-white mt-4">Сервис аренды авто по всему миру</p>
            </div>
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-header">
                        Забронировать авто
                    </div>
                    <div class="card-body">
                        <form action="." method="get">
                            {{ filter_form }}
                            <input type="hidden" name="search" value="1">
                            <button type="submit" class="btn btn-primary mt-3">Найти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END WRAPPER -->

<!-- START BRAND LIST AREA -->
<div class="container py-4 my-4">
    <h2 class="text-center">Популярные бренды</h2>
    <div class="row py-4 my-4">
        {% for brand in brand_list %}
        <div class="col-lg-4">
            <div class="card mb-3">
                <a href="{% url 'motorpool:auto_list' %}?brand={{ brand.id }}" class="text-center">
                    <img src="{{ brand.logo_url }}" class="card-img-top avatar-xxl" alt="brand">
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'motorpool:auto_list' %}?brand={{ brand.id }}" class="text-decoration-none">{{ brand.title }}</a>
                    </h5>
                    <p class="card-text">{{ brand.car_count }} авто</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- END BRAND LIST AREA -->

{% include "inc/_cta.html" %}

{% endblock %}
